@import "reset";

body {
    display: flex;
    flex-direction: column;
    color: white;
    min-height: 100vh;
}

header, footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 3rem;
}

main {
    display: flex;
    flex: 1;
}