@import "reset";

@mixin hover-color-change($color) {
  &:hover {
    background-color: $color;
  }
  padding: 0.5rem;
  border-radius: 4rem;
  cursor: pointer;
}

$hover-gray: rgb(192, 192, 192);

body {
  display: flex;
  flex-direction: column;

  color: white;
  min-height: 100vh;
}

header {
  display: grid;
  flex-direction: row;
  align-items: center;
  grid-template-columns: 1fr auto 1fr;

  background-color: black;
  height: 3rem;
  font-size: 1.25rem;

  h1 {
    grid-column: 2;
    justify-self: center;
  }

  .hamburger-menu-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column: 1;
    gap: 0.25rem;

    width: 1.5rem;
    margin-left: 2rem;
    cursor: pointer;

    .slice {
      width: 1.5rem;
      height: 0.125rem;
      background-color: white;
    }
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: black;
  height: 3rem;
  font-size: 1.25rem;
}

main {
  display: flex;
  flex: 1;

  transition: background-color 0.2s ease-in-out 0s;
}

// Handles Sidebar

.sidebar {
  display: flex;
  flex-direction: column;

  color: black;
  box-shadow: 0 0 5px black;
  background-color: white;
  width: 15rem;
  padding: 1rem;
  transform: translateX(-100%);
  transition: all 0.2s ease-in-out 0s;

  .general {
    display: flex;
    flex-direction: column;

    & > * {
      @include hover-color-change($hover-gray);
    }
  }

  .projects {
    @include hover-color-change($hover-gray);
  }

  .notes {
    @include hover-color-change($hover-gray);
  }
}

.active {
    transform: translateX(0);
}

.active-background {
    background-color: rgba($color: #000000, $alpha: 0.3);
}